{% extends 'main.html' %}

{% block title %}{{ poest.title }} | {% endblock %}
{% block content %}
    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title">{{ post.title }}</p>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-info">{{ post.author }}</span>
                                    <span class="tag is-rounded">Created at {{ post.created|date:'M-d-Y' }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-intro">
                            <strong>{{ post.intro }}</strong>
                        </div>
                        <div class="content article-body">
                            {{ post.body|safe }}
                        </div>
                        <hr>
                        <div class="content article-comments">
                            <h2 class="subtitle is-4">Comments</h2>

                            <form method="post">

                                {% csrf_token %}

                                {{ form.as_p }}

                                <div class="field">
                                    <div class="control">
                                        <button class="button is-success">Submit comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        {% for comment in post.comments.all %}
                            <div class="box">
                                <article class="media">
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>{{ comment.name }}</strong>
                                                <br>
                                                {{ comment.body }}
                                                <br>
                                                <small><a>Like</a> · <a>Reply</a> · {{ comment.created|date:'M-d-Y' }}</small>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- END ARTICLE -->
            </div>
        </section>
    </div>
{% endblock %}