{% extends 'main.html' %}

{% block title %}{{ poest.title }} | {% endblock %}
{% block content %}
    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title">{{ post.title }}</p>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-info">{{ post.author }}</span>
                                    <span class="tag is-rounded">Created at {{ post.created|date:'M-d-Y' }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-intro">
                            <strong>{{ post.intro }}</strong>
                        </div>
                        <div class="content article-intro">
                            {{ post.body|safe }}
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
            </div>
        </section>
    </div>
{% endblock %}