{% extends 'main.html' %}

{% block title %}Search | {% endblock %}

{% block content %}

    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <h1 class="title">
                    Search results for "{{ query }}" ({{ posts|length }})
                </h1>
                <!-- START ARTICLE -->
                {% for post in posts %}
                    <div class="card article">
                        <div class="card-content">
                            <a href="{% url 'post_detail' post.category.slug  post.slug %}">
                                <div class="media">
                                    <div class="media-content has-text-centered">
                                        <p class="title article-title">{{ post.title }}</p>
                                        <div class="tags has-addons level-item">
                                            <span class="tag is-rounded is-info">{{ post.author }}</span>
                                            <span class="tag is-rounded">Created at {{ post.created|date:'M-d-Y' }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="content has-text-centered article-intro">
                                    {{ post.intro }}
                                </div>
                            </a>
                        </div>
                    </div>
                {% empty %}
                    <div class="content">
                        <p>No result for the given query...</p>
                    </div>
                {% endfor %}
                <!-- END ARTICLE -->
            </div>
        </section>
    </div>
{% endblock %}