{% extends 'main.html' %}

{% block title %}Home | {% endblock %}

{% block content %}
    <section class="hero is-info is-medium is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Welcome to Django Blog Project</h1>
            </div>
        </div>
    </section>

    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                {% for post in posts %}
                    <div class="card article">
                        <div class="card-content">
                            <a href="{% url 'post_detail' post.slug %}">
                                <div class="media">
                                    <div class="media-content has-text-centered">
                                        <p class="title article-title">{{ post.title }}</p>
                                        <div class="tags has-addons level-item">
                                            <span class="tag is-rounded is-info">{{ post.author }}</span>
                                            <span class="tag is-rounded">Created at {{ post.created|date:'M-d-Y' }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="content article-intro">
                                    {{ post.intro }}
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <!-- END ARTICLE -->
            </div>
        </section>
    </div>
{% endblock %}