{% extends 'signTemplate.html' %}

{% block title %}Login | {% endblock %}

{% block h1 %}Login{% endblock %}

{% block content %}
    <form method="POST" action="">

        {% csrf_token %}
        <div class="container">
            <div class="control">
                <div class="input-group mb-5">
                    <p>Username </p>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="input-group mb-5">
                    <p>Password </p>
                    <input type="password" class="form-control" name="password">
                </div>
            </div>
        </div>

        <input class="button is-success mt-6" type="submit" value="Login">
    </form>
    {% for message in messages %}
        <p class="message mt-2">{{ message }}</p>
    {% endfor %}
    <div class="mt-4">
        <div class="d-flex justify-content-center links">
            Don't have an account? <a href="{% url 'signup' %}" class="ml-2">Sign Up</a>
        </div>
    </div>
{% endblock %}