{% extends 'signTemplate.html' %}

{% block title %}Sign Up | {% endblock %}

{% block h1 %}Sign Up{% endblock %}

{% block content %}
    <form method="POST" action="">

        {% csrf_token %}
        <div class="container">
            <div class="control">
                <div class="content">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
                <div class="content">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <div class="content">
                    {{ form.password1.label }}
                    {{ form.password1 }}
                </div>
                <div class="content">
                    {{ form.password2.label }}
                    {{ form.password2 }}
                </div>
            </div>
        </div>

        <input class="button is-success mt-6" type="submit" value="Sign Up">
    </form>
{% endblock %}