{% extends 'signTemplate.html' %}

{% block title %}Sign Up | {% endblock %}

{% block h1 %}Sign Up{% endblock %}

{% block content %}
    <form method="POST" action="">

        {% csrf_token %}
        <div class="container">
            <div class="control">
                <div class="input-group mb-5">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
                <div class="input-group mb-5">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <div class="input-group mb-5">
                    {{ form.password1.label }}
                    {{ form.password1 }}
                </div>
                <div class="input-group mb-5">
                    {{ form.password2.label }}
                    {{ form.password2 }}
                </div>
            </div>
        </div>

        <input class="button is-success mt-6" type="submit" value="Sign Up">
    </form>
    {{ forms.errors }}
    <div class="mt-4">
        <div class="d-flex justify-content-center links">
            Already have an account? <a href="{% url 'loginPage' %}" class="ml-2">Login</a>
        </div>
    </div>
{% endblock %}