<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}DjangoBLog</title>

    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
</head>
<body>
<div class="column is-6 is-offset-3 mt-6">
    <div class="content has-text-centered box">
        <h1 class="title mt-6">{% block h1 %}{% endblock %}</h1>
        <section class="section">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </section>
    </div>
</div>
</body>
</html>